.earthquake-details-container {
  border: 1px solid #fff; 
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333; 
  color: #fff; 
}

.earthquake-details-title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.earthquake-details-item {
  margin-bottom: 5px;
}

.earthquake-details-link {
  color: #00f0ff; 
  text-decoration: none;
}

.earthquake-details-link:hover {
  text-decoration: underline;
}